* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: default;
}


body {
    padding-top: 6rem;

}

nav {
    margin-top: -6rem;
    width: 100%;


}

ul {
    display: flex;
    width: 100%;
    background-color: brown;
    height: 6rem;
}

li {
    list-style: none;
}

ul>li {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 3rem ;
    position: relative;
    left: 12%;
    top: -10%;

}



nav img {
margin-left: 4rem;
    cursor: pointer;
    max-width: 7vw;
    max-height: 17vh;
}

nav a {
    display: inline-block;
    font-size: 1.5rem;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;

}
nav a:hover{
    color: #fff;
}




footer {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;

}


footer a {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1%;

}

footer a {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5%;
    margin-left: 0.5%;
    position: relative;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

footer img {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}


footer img:hover {
    background-color: rgb(182, 182, 17);
}

footer a:hover {
    background-color: rgb(182, 182, 17);
}