*{
    margin: 0;
    padding: 0;
}

footer{
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: fixed;
bottom: 0;

}
footer a{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1%;
    position: relative;
    bottom: 1rem;
}
footer img{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}
footer img:hover{
    background-color: rgb(182, 182, 17);
}

