* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: default;
}


body {
    padding-top: 6rem;

}

nav {
    margin-top: -6rem;
    width: 100%;

    
}

ul {
    display: flex;
   width: 80%;
   margin-left: 8rem;
   background-color: brown;
   height: 6rem;
}
li{
    list-style: none;
}
ul > li {
justify-content: flex-start;
align-items: center;
align-content: center;
margin-top: 3rem;
padding-left: 4rem;

position: relative;
left: 30%;
top: -10%;

}



nav img {
    cursor: pointer;
    max-width: 5vw;
    max-height: 17vh;
}

nav a {
font-size: 1.3rem;
color: #fff;
text-decoration: none;
cursor: pointer;
}




footer {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;

}


footer a {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1%;

}

footer a {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5%;
    margin-left: 0.5%;
    position: relative;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

footer img {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}


footer img:hover {
    background-color: rgb(182, 182, 17);
}

footer a:hover {
    background-color: rgb(182, 182, 17);
}
